body{
    background-color: black;
    color:aliceblue;

}

article{
    background-color: #756d6d;
    width: 300px;
    height: 300px;
    margin: 10px;

}

article h2{
    color:rgb(139, 16, 16);
    text-align: center;

}

article, h2{
    font-size: 12pt;
}