body{
    background-color: blanchedalmond;
    font-size: 18pt;
    font-family: verdana;
    margin:1;

}

article{
    width: 500px;
    background-color: rgb(182, 147, 104);
    margin:auto;
    border: 2px dashed #000000;
    padding: 10px;
    padding-top: 10px; 
    padding-left: 50px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 20px;
    
}

h2{
    text-align: center;
    margin: 0;
}

p{
    text-align: justify;
}


